{% extends 'base.html' %}
{% block title %}Bosh sahifa{% endblock %}

{% block content %}
<h1 class="mb-4">Autosalonlar</h1>
<div class="row">
    {% for salon in salons %}
    <div class="col-md-6 mb-4">
        <div class="card h-100 shadow-sm">
            {% if salon.image %}
                <img src="{{ salon.image.url }}" class="card-img-top" alt="{{ salon.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ salon.title }}</h5>
                <p class="card-text">{{ salon.context|truncatewords:20 }}</p>
                <a href="{% url 'autosalon_detail' salon.pk %}" class="btn btn-primary">Batafsil</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Hozircha hech qanday autosalon mavjud emas.</p>
    {% endfor %}


</div>
<a href="{% url 'add_car' %}" class="btn btn-success mb-4">+ Yangi Avtomobil Qo‘shish</a>

<hr class="my-5">


{% endblock %}
